server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/rabbit
    username: rabbit_user
    password: rabbit_pass
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
  flyway:
    enabled: false

management:
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      probes:
        enabled: true
